* {
 margin: 0px;
}

.title {
  color: #151b28;
}

.description {
  margin-top: 12px;
  color: #7b879d;
}

.heading-wrapper {
  margin-bottom: 45px;
  text-align: center;
}

.form-container {
  max-width: 350px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}

.input-group label {
  margin-bottom: 6px;
  font-size: 14px;
  color: #596276;
}

input {
  padding: 8px;
  border: 1px solid #dfe1e4;
  outline-color: #664de6;
  border-radius: 4px;
}

.prefix-wrapper {
  display: flex;
  flex: 1;
  border: 1px solid #dfe1e4;
  border-radius: 4px;
}

.prefix-wrapper input {
  border: none;
  flex: 1;
}

.input-prefix {
  border-right:  1px solid #dfe1e4;
  padding: 8px;
  background-color: #F8F9FC;
  color: #7b879d;
  font-size: 14px;
}

.btn {
  padding: 10px;
  border: none;
  background-color: #664de6;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex: 1;
  justify-content: center;
}

.btn.disabled {
  background-color: #596276;
  cursor: not-allowed;
}

.radio-card-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.radio-card {
  border: 1px solid #dfe1e4;
  border-radius: 4px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-basis: 38%
}

.radio-card .description {
  font-size: 14px;
}

.radio-card.selected {
  border-color: #664de6;
}

label span {
  color: #7b879d;
}